footer.footer {
	background: #16336A;
	padding: 75px 0;
	.logo-row {
		margin-bottom: 50px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 10px;
		}
	}
	p {
		margin-bottom: 0;
	}
	h6.back {
		text-align: right;
		font-size: 15px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
		.icon-arrow-up {
			margin-right: 5px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 40px 0;
		text-align: center;
		h6 {
			margin-top: 5px;
			text-align: center;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		@include media-breakpoint-down(sm) {
			margin-top: 15px;
		} 
		li {
			display: inline-block;
			margin-left: 5px;
			&:first-child {
				margin-left: 0;
			}
			@include media-breakpoint-down(sm) {
				display: block;
				margin-bottom: 5px;
				text-align: center;
			} 
		}
	}
}