footer.footer {
	background: url(../../images/footer-bg@2x.png) no-repeat;
	background: cover;
	padding: 75px 0;
	.logo-row {
		margin-bottom: 50px;
		@include media-breakpoint-down(sm) {
			margin-bottom: 10px;
		}
	}
	p {
		margin-bottom: 0;
		&.bold {
			font-weight: 800;
		}
	}
	h6.back {
		color: #B1CBFD;
		text-align: right;
		font-size: 13px;
		padding-top: 10px;
		// padding-bottom: auto;
		span.icon-arrow-up {
			font-size: 18px;
			margin-right: 5px;
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}
		.icon-arrow-up {
			margin-right: 5px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 40px 0;
		text-align: center;
		h6 {
			margin-top: 5px;
			text-align: center;
		}
	}
	.logos {
		display: flex;
		justify-content: center;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: right;
			@include media-breakpoint-down(sm) {
				margin-top: 15px;
			} 
			li {
				display: inline-block;
				margin-left: 1px;
				@include media-breakpoint-up(lg) {
					margin-left: 20px;
				} 
				&:first-child {
					margin-left: 0;
				}
				@include media-breakpoint-down(sm) {
					margin-bottom: 5px;
					margin-top: 10px;
				} 
			}
		}
	}
}